.accordion-content{
	display: none;
}
body{
	text-align: center;
}
li{
	list-style-type: none; 
}
button{
	width: 200px;
	padding: 20px;
	margin-top: 20px;
}
.accordion-content{
	width: 300px;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
}